.content {
  box-sizing: border-box;
  width: calc(100vw - 300px);
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 80px);
  padding: 10px 26px;

  @media (max-width: 768px) {
    width: 100vw;
    overflow-y: auto;

    height: calc(100vh - 80px);
  }
}
