.wrapper {
  width: 100%;
  h2 {
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    color: black;
  }
  p {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: black;
    margin-top: 12px;
    margin-bottom: 24px;
  }
}
